{
	"General": {
		"WALLPAD_IP": "<ip>",
		"SOURCE_VIDEO_PATH": "<file_path>",
		"WRITE_VIDEO_PATH": "<file_path>",		
		"RTSP_SERVER_URI": "<uri>",
		"ONLY_DETECTION_FACE": false,
		"IMAGE_CROP": false,
		"IMAGE_CROP_RECT": {
			"x": 0,
			"y": 0,
			"width": 720,
			"height": 480
		},
		"CASCADE_CLASSIFIER_FACE1_PATH": "<file_path>",
		"CASCADE_CLASSIFIER_FACE2_PATH": "<file_path>"
	},
	"Watson": {
		"WORKSPACE_ID": "<workspace-id>",
		"CONVERSATION_USERNAME": "<conversation-username>",
		"CONVERSATION_PASSWORD": "<conversation-password>",
		"SPEECH_TO_TEXT_USERNAME":"<stt-username>",
		"SPEECH_TO_TEXT_PASSWORD":"<stt-password>",
		"TEXT_TO_SPEECH_USERNAME":"<tts-username>",
		"TEXT_TO_SPEECH_PASSWORD":"<tts-password>",
		"VISUAL_RECOGNITION_URI": "<uri>",
		"VISUAL_RECOGNITION_API_KEY": "<key>"
	},
	"GCP": {
		"APP_KEY": "<app-key>"
	}
}
